# Azure AI
# =======
export AZURE_DOCUMENT_INTELLIGENCE_ENDPOINT=""
export AZURE_DOCUMENT_INTELLIGENCE_KEY=""
export AZURE_GPT4O_ENDPOINT=""
export AZURE_GPT4O_KEY=""

# Azure Storage
# =======
export AZURE_STORAGE_ACCOUNT=""
export AZURE_STORAGE_ACCOUNT_KEY=""
export AZURE_STORAGE_CONTAINER_NAME=""

# Trigger.dev
# =======
export TRIGGER_SECRET_KEY=""
export TRIGGER_PROJECT_ID=""

# GitHub Config
# =======
export NUXT_OAUTH_GITHUB_CLIENT_ID=""
export NUXT_OAUTH_GITHUB_CLIENT_SECRET=""

# App Config
# =======
export WORKFLOW_CALLBACK_SALT=""
export WORKFLOW_TOKEN_EXPIRY_MINUTES=15

# Nuxt Config
# =======
export NUXT_PUBLIC_URL="http://localhost:3000"
export NUXT_PUBLIC_ENVIRONMENT="development"
export NUXT_DATABASE_URL="postgresql://tallysplit:tallysplit@localhost:5432/postgres"
export NUXT_SESSION_PASSWORD="" # min 32 chars
