export AZURE_DOCUMENT_INTELLIGENCE_ENDPOINT=""
export AZURE_DOCUMENT_INTELLIGENCE_KEY=""

export AZ_STORAGE_ACCOUNT=""
export AZ_STORAGE_ACCOUNT_KEY=""
export AZ_STORAGE_CONTAINER_NAME=""

export NUXT_PUBLIC_ENVIRONMENT="development"
export NUXT_PUBLIC_DEMO_USER_FIRST_NAME="John"
export NUXT_PUBLIC_DEMO_USER_LAST_NAME="Smith"
export NUXT_PUBLIC_DEMO_USER_EMAIL="foo@bar.com"
export NUXT_PUBLIC_DEMO_USER_USERNAME="john-smith"
